extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Sobre Nosotros
        p Node Plataform Web and Services IoT(Plawyer Node) es una plataforma de la empresa SaltoCuantico que proporciona servicios dedicados a IoT para automatizar su empresa, hogar y trabajo, trabajamos con tecnologías hechas para ser veloces y en tiempo real.
        p Siempre estamos a la vanguardia de aplicar las mejores tecnologías a nuestros clientes y en constante crecimiento de aumentar nuestros productos y servicios porque el confort de nuestros clientes es lo más importante.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Regístrese gratis 

