extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contáctanos
        p Somos una empresa con sede en Cochabamba-Bolivia, puede comunicarse con nosotros mediante el correo Saltocuanticoservice@Saltocuantico.com, puede visitarnos en la pagina de Facebook SaltoCuantico, o dirigirse a nuestras oficinas ubicadas en…

        a.btn.btn-primary(href='https://api.whatsapp.com/send?phone=59172763562') Enviar mensaje


